In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [22]:
ls = list()
for i in np.array([3, 3.5, 4]):
    x = i + np.random.randn(100)
    x = np.where(x<1,1,x)
    x = np.where(x>5,5,x)
    ls.append(x)

ls = np.array(ls).transpose()
df_x = pd.DataFrame(ls)
df_x.to_excel('randint-test.xlsx')
df_x.head()

          0         1         2
0  3.451227  3.395814  5.000000
1  2.516103  3.688497  4.771920
2  1.623696  3.699661  4.452803
3  2.109813  4.988662  4.470545
4  2.432319  3.351211  5.000000